<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28911853453-hh0j3e4v3ucubahvqtjr3020s73sr5np.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28911853453-hh0j3e4v3ucubahvqtjr3020s73sr5np</string>
	<key>API_KEY</key>
	<string>AIzaSyAt_jaQN4bIM2-ARRCZJJgalK-H9at6MqE</string>
	<key>GCM_SENDER_ID</key>
	<string>28911853453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FirstApp</string>
	<key>PROJECT_ID</key>
	<string>memoapp-3bb8e</string>
	<key>STORAGE_BUCKET</key>
	<string>memoapp-3bb8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28911853453:ios:6dc4f888fa33be84b8e7c4</string>
</dict>
</plist>